{% extends "base.html" %}
{% block content %}

<h1 class="ui center aligned header">Upload Data App</h1>

{% if messages %}
    {% for message in messages %}
        <div>
            <strong>{{message|safe}}</strong>
        </div>
    {% endfor %}
{% endif %}

<form class="ui form" enctype="multipart/form-data" method="post" action={% url 'upload_data' %}>
    {% csrf_token %}
    <div class="field">
        <input type="file" class="form-control" name="file" id="customFile" />
        <button type="submit" class="btn btn-primary btn-block">Import</button>
    </div>

    </br>
    <hr class="mb-5"/>

    {% if form.errors %}
       {% for field in form %}
           {% for error in field.errors %}
              <div class="alert alert-danger">
                   <strong>{{ error|safe }}</strong>
              </div>
           {% endfor %}
       {% endfor %}
    {% endif %}
</form>

{% endblock %}
